<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Diet Dashboard</h3>
        </div>
        <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2020-5/snack-bento-box-1296x728-header.jpg?w=1155&h=1528" alt="food">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/">Chart</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/posts">Today</a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/articles">Food List</a>

    <mat-divider></mat-divider>
    
</mat-nav-list>
